{% extends 'registrationbase.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'registrationheader.html' %}
<style>
.btn-default{
background-color: #68889E;
color: red;
border-color: #2F3E48;
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
background-color: #2F3E48;
color:#FFF;
border-color: #31347B;
}

</style>

	<div class="container">
    <div id="form_container">
        <div class="row no-gutters">
            <div class="col-lg-4">
                <div id="left_form">
                    <h2 class="mb-0">Hi {{request.user.username|title}}
                        <span class="mb-0">
                        <hr/>KWIKY <p>... stressless delivery</p></span></h2>

                    <div class="myspace">
                    
                        <a href="{% url 'customer:dashboard' %}" class="mb-3 btn_1 rounded yellow purchase mt-1" target="_parent">Dashboard</a></br>
                        <a href="{% url 'customer:customer_profile' request.user.profilecustomer.id %}" class="mb-3 btn_1 rounded yellow purchase" target="_parent">Customer Profile</a></br>
                        <a href="{% url 'customer:order_history' request.user.id %}" class="btn_1 rounded yellow purchase mb-2" target="_parent">Order History</a></br>

                        <a href="{% url 'customer:dashboard' %}" class="btn_1 mobile_btn  btn-block yellow btn-default mb-1">Dashboard</a></br>
                        <a href="{% url 'customer:customer_profile' request.user.profilecustomer.id %}" class="btn_1 mb-1 btn-block mobile_btn yellow">Customer Profile</a></br>
                        <a href="{% url 'customer:order_history' request.user.id %}" class="btn_1 btn-block mobile_btn yellow">Order History</a></br>
                    
                    </div>  

			    </div>
            </div>
            <div class="col-lg-8 col-md-5">
                <div id="wizard_container">
                    <div id="top-wizard">
                        <div id="progressbar"></div>
                        <span id="location"></span>
                    </div>

                    <form method="POST">
                        {% csrf_token %}
                        
                        <div class="form-group col-sm-6">

                            <label>Pick Carteen, Store or Market</label>
                        
                            <select class="selectpicker" name='name' data-live-search="true">
                                
                                {% for c in category  %}

                                    <option value="{{ c.id }}" data-tokens="{{ c.name }}">{{ c.name|title }}</option>

                                {% endfor %}

                            </select>
                        
                        </div>

                        
                        <div id="bottom-wizard">
                            <button type="submit" name="process" class="btn btn-primary btn-lg btn-block">Proceed</button>
                        </div>
                    </form>
                </div>
                <!-- /Wizard container -->
                </div>
            </div><!-- /Row -->
        </div><!-- /Form_container -->
    </div>

{% endblock content %}
